[run]
branch = True
source =
    pico_scheduling
omit =
    */_version.py

[paths]
pico_scheduling =
    src/pico_scheduling
    .tox/*/lib/*/site-packages/pico_scheduling
    .tox/*/site-packages/pico_scheduling
    */site-packages/pico_scheduling

[report]
show_missing = True
omit =
    */_version.py
